/* 
    Document   : beerlist
    Created on : Feb 4, 20123
    Author     : Kellen Donohue
    Description: Beer Authority Style Sheet
*/

body {
    background-color: #003F87;
    color: white;
    font-family: Calibri, Tahoma, sans-serif;
    font-size: 12pt;
    margin: 10px;
    text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.headerRow {
  font-weight: bold;
}

td {
  margin: 10px 10px 10px 10px;
}
