/* 
    Document   : events
    Created on : Feb 4, 20123
    Author     : Kellen Donohue
    Description: Beer Authority Style Sheet
*/

body
{
  background: url(BAbillboard.gif) no-repeat;
  width: 100%;
  color: black;
  font-family: Calibri, Tahoma, sans-serif;
  font-size: 24pt;
  margin: 10px;
  color: white;
}

li
{
  color: black;
  list-style-image: none;
  font-size: 48pt;
  position: relative;
  white-space: pre;
  top: 300px;
  left: 300px;
}

p
{
  margin: .25em;
}